<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>Hey forks....<br>lets see what's happening</h2>
  </div>
  <% if(blog.length > 0){ %>
    <% blogs.forEach(blog => {%>
        <a class = "single" href="/blogs/<%= blog.id%"></a>
        <h4 class ="title" > <%= blog.title %> </h4>
        <p class ="snippet" > <%=blog.snippet %> </p>
    })
  <%} else{ %>
        <p>Hey folks.. 	&#128514;  NO BLOG TO DISPLAY</p>
  <% } %>

<%- include("./partials/footer.ejs") %>
</body>
</html>